{% extends 'base.html' %}

{% block content %}
        <div class="row align-items-center">
            <div class="col">
                <h4>About me</h4>
                <p>I work as a data scientist at the BBC. I'm interested in applying machine learning to real problems. 
                    <br><br>    
                    Previously, I worked as a consultant, then as a finance lead at a fast-growing charity. 
                    <br><br>
                    In 2021 I switched career, studying MSc Computer Science at UCL, graduating with a distinction. My dissertation using computer vision for energy forecasting was published as a <a href="https://www.climatechange.ai/papers/neurips2022/58">NeurIPS workshop paper</a>.</p>
                <div id="skillsAccordion">
                    <div class="accordion-box">
                        <h3 class="accordion-title">
                            <button class="accordion-toggle" type="button" data-toggle="collapse" data-target="#collapseSkills" aria-expanded="false" aria-controls="collapseSkills">
                            <i class="fas fa-chevron-down"></i>  Skills 
                            </button>
                        </h3>
                        <div id="collapseSkills" class="collapse" aria-labelledby="skillsAccordion">                            
                            <p><b>Non-technical</b></p>
                            <ul>
                                <li>Proactive and outcome-oriented</li>
                                <li>Highly organised</li>
                                <li>Experienced in presenting complex ideas clearly</li>
                                <li>Skilled at building relationships</li>
                                <li>Keen to learn and seek feedback</li>
                            </ul>
                            <p><b>Technical</b></p>
                            <ul>
                                <li>Python</li>
                                <li>Machine learning libraries: scikit-learn, Tensorflow, Keras, HuggingFace</li>
                                <li>AWS: EC2, S3, DynamoDB, Sagemaker, Elastic Beanstalk</li>
                                <li>Building models: linear and logistic regressions, support vector machines, neural networks</li>
                                <li>Fine-tuning Large Language Models</li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div id="experienceAccordion">
                    <div class="accordion-box">
                        <h3 class="accordion-title">
                            <button class="accordion-toggle" type="button" data-toggle="collapse" data-target="#collapseExperience" aria-expanded="false" aria-controls="collapseExperience">
                            <i class="fas fa-chevron-down"></i>  Experience 
                            </button>
                        </h3>
                        <div id="collapseExperience" class="collapse" aria-labelledby="experienceAccordion">
                            <p>Finance lead, CEA (now Effective Ventures) - 2019-2021</p>
                            <ul>
                                <li>Oversaw all aspects of financial planning and control for an organisation with >£30M annual turnover</li>
                                <li>Supported fundraising and led finance board presentations</li>
                                <li>Led multiple process improvement initatives through to implementation</li>
                            </ul>
                            <p>Finance Management Consultant - EY - 2015-2019</p>
                            <ul>
                                <li>Led several financial process improvement initiatives in large organisations</li>
                                <li>Built relationships with a range of stakeholders in different industries and geographies</li>
                                <li>Business case modelling and sensitivity analysis</li>
                                <li>Qualified as a management accountant</li>
                            </ul>
                        </div>
                    </div>
                </div>    

                <div id="educationAccordion">
                    <div class="accordion-box">
                        <h3 class="accordion-title">
                            <button class="accordion-toggle" type="button" data-toggle="collapse" data-target="#collapseEducation" aria-expanded="false" aria-controls="collapseEducation">
                            <i class="fas fa-chevron-down"></i>  Education 
                            </button>
                        </h3>
                        <div id="collapseEducation" class="collapse" aria-labelledby="educationAccordion">
                            <ul>
                                <li>University College London - Computer Science MSc, distinction - 2021</li>
                                <li>University of Bristol - Economics and Politics BSc, first class honors - 2015</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>


{% endblock %}
