{% extends "base.html" %}

{% block content %}

<h2>{% block title %}{{header}}{% endblock %}</h2>
  <div>{{description}}</div>
  <div id='chart' class='chart'></div>
  <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
  <script type='text/javascript'>
    var graphs = {{graphJSON | safe}};
    Plotly.plot('chart',graphs,{});
  </script>

  <div><h3>Forecast ahead</h3>
    <p>Baseline:{{baseline_forecast}}C</p><br>
    <p>Model forecast:{{model_forecast}}C (a working trained ML model (though a very inaccurate one!))</p></div>
  
{% endblock %}
