{% extends 'base.html' %}

{% block content %}

<head>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [['$$', '$$']],
            displayMath: [['\[', '\]']],
        }
    });
</script>
    <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
  
</head>
<div class="row align-items-center">
  <div class="col">
    <h2>{% block title %}{{ post['title'] }} {% endblock %}</h2>
    <p>{{ post['created'] }}</p>
    {{ post['content']|markdown }}
</div>
</div>
{% endblock %}